* {
    margin: 0;
    padding: 0;
    font-family: 'Open Sans', sans-serif;
    text-decoration: none;
}

html {
    scroll-behavior: smooth;
}


header {
    padding: 10px;
    background-color: #EBEBEB;

}

nav {
    margin-right: 230px;
}

header .menu-item {
    display: flex;
    gap: 30px;
    justify-content: flex-end;
}

.menu-item li {

    list-style-type: none;
    padding: 15px;
    background-color: #F15B22;
    border-radius: 5px;
}

.menu-item li:hover {
    box-shadow: 1px 1px 2px #151414;
    color: rgba(102, 164, 240, 0.923);
    text-shadow: 2px 1px 5px rgba(28, 118, 227, 0.923);
}

li>a {
    color: #FFFFFF;
    font-size: 16px;
    font-weight: 500;
}

.banner-section {
    background-image: url(../images/banner/banner1.png);
    width: 100%;
    height: 808px;
    background-repeat: no-repeat;
    position: relative;
}

.banner {
    text-align: right;
    position: absolute;
    top: 216px;
    left: 700px;
    padding-right: 230px;

}

.banner-header {
    font-weight: 700;
    font-size: 65px;
    color: #151414;
    margin-bottom: 24px;
}

.banner-header+p {
    font-weight: 400;
    font-size: 16px;
    color: #444343;
    margin-bottom: 32px;
}

.btn-header {
    font-weight: 600;
    font-size: 20px;
    color: #FFFFFF;
    width: 160px;
    height: 64px;
    border: none;
    background: #F15B22;
    border-radius: 5px;
}


.failure-section {
    padding: 131px 230px;
    display: flex;
    gap: 80px;
    align-items: center;
    justify-content: space-around;
}

.person {
    width: 569px;
    height: 723px;
}

/* .content{
    padding: 20px 0;
} */
.content-header {
    font-weight: 700;
    font-size: 40px;
    margin-bottom: 24px;
    color: #151414;
}

.content-description {
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #444343;
    margin-bottom: 16px;

}

.content-description+ul>li {

    list-style-type: none;
    font-weight: 400;
    font-size: 16px;
    color: #444343;
    margin-top: 8px;
}

.tick {
    color: greenyellow;
    margin-right: 8px;
}


/* my plan section */
.my-plan {
    padding: 0 230px;
    margin-bottom: 130px;
}

.my-plan>h2 {
    text-align: center;
    font-weight: 700;
    font-size: 40px;
    color: #151414;
    margin-bottom: 55px;

}

.skills {
    display: flex;
    gap: 80px;
}

.skills>div {
    text-align: center;
}

.skills>div>h2 {
    margin-top: 24px;
    margin-bottom: 16px;
    font-weight: 700;
    font-size: 30px;
    text-align: center;
    color: #151414;
}

/* positive mindset */
.positive-mindset {
    padding: 0 230px;
}

.gradient {
    border: none;
    width: 1140px;
    height: 300px;
    left: 230px;
    top: 2222.26px;
    background: url("../images/watch.png"), linear-gradient(90deg, #F15B22 0%, rgba(241, 91, 34, 0) 100%);
    background-blend-mode: overlay;
    border-radius: 8px;
    margin-bottom: 130px;
}


.gradient-content {
    color: #FFFFFF;
    padding: 59px 517px 59px 64px;
}

.gradient-content>h2 {
    font-weight: 700;
    font-size: 40px;
   

}

.btn-call {
    font-weight: 600;
    font-size: 20px;
    color:#F15B22;
    width: 160px;
    height: 64px;
   margin-top: 24px;
    border: none;
    background: #FFFFFF;
    border-radius: 5px;
}

/* footer section */
footer {
    height: 577px;
    background: #151414;
}

.footer-container {
    display: flex;
    gap: 331px;
    color: #f8f8f8;
    padding: 130px 230px 230px 130px;
}

.copyright{
    text-align: center;
    color: #f8f8f8;
}